body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #e74c3c; /* Couleur rouge pour le titre */
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    background-color: #e74c3c; /* Couleur rouge pour les boutons */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #c0392b; /* Couleur rouge plus foncé pour le survol */
  }
  
  .result-container {
    margin-top: 20px;
  }
  
  .password-result {
    font-size: 18px;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 100%;
    max-height: 150px; /* Hauteur maximale de la boîte */
    overflow-y: auto;  /* Barre de défilement verticale si le texte dépasse */
    overflow-x: hidden; /* Désactive le défilement horizontal */
    word-wrap: break-word;
    margin-bottom: 10px;
  }
  
  /* Styles du popup */
  .popup-container {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Effet sombre en arrière-plan */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-message {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 90%;
  }
  
  #popupCloseButton {
    background: #e74c3c; /* Couleur rouge pour le bouton de fermeture du popup */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #popupCloseButton:hover {
    background: #c0392b; /* Couleur rouge plus foncé pour le survol du bouton */
  }  